/*
https://ismailj.eu.org
*/
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #282828;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: larger;
    line-height: 1.6;
    margin: 50px;
    margin-left: 100px;
    margin-right: 200px;
    color: #ffffff;
}
